<div>
  <div class="img-fluid section-bottom py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 p-3 d-flex justify-content-center justify-content-md-start align-items-center">
          <img src="../assets/img/logo-light.png">
          <span class="text-white h4 m-0 ms-2">訂閱你我的甜蜜郵件</span>
        </div>
        <div class="col-12 col-md-6 p-3">
          <div class="input-group envelope">
            <label class="input-group-text" for="envelope">
              <!-- <i class="fa-solid fa-envelope fa-lg envelopeIcon"></i> -->
              <fa-icon
              class="envelopeIcon"
              size="lg"
              [icon]="faEnvelope"></fa-icon>
            </label>
            <input type="text" class="form-control form-control form-control-lg" id="envelope">
            <button class="input-group-text btn btn-warning" type="submit">
              <!-- <i class="fa-solid fa-arrow-right"></i> -->
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="img-fluid container">
    <div class="row pt-5">
      <div class="col col-md-6 d-flex flex-column justify-content-between">
        <div>
          <img src="../assets/img/logotype-lg-dark.png">
        </div>

        <ul class="listStyle p-0">
          <li>07-1234-5678</li>
          <li>sweetaste@email.com</li>
          <li>800 高雄市新興區幸福路 520 號</li>
        </ul>
      </div>
      <div class="col col-md-6 d-none d-md-block">
        <div class="text-end">
          <img src="../assets/img/sm-今天是個吃甜點的好日子.png">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row pt-3">
      <div class="col-12 col-md-6">
        <img class="mx-1" src="../assets/img/ic-line@.png" width="32">
        <img class="mx-1" src="../assets/img/ic-facebook.png" width="32">
      </div>
      <div class="col-12 col-md-6">
        <div class="text-md-end">
          <span>© 2018 Sweetaste* All Rights Reserved</span>
        </div>
      </div>
    </div>
  </div>
</footer>
