<main>
  <div class="container mb-5">
    <div class="banner-dessert">
      <img src="../assets/img/lg-想吃甜點是不需要理由的.png">
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">

          <ul class=" list-group text-center mb-3">
            <li class="dessert-list list-group-item list-group-item-action theme-1">甜點類別</li>
            <li class="dessert-list list-group-item list-group-item-action nav-link active" data-bs-toggle="pill"
              data-bs-target="#all" role="presentation" id="pills-home-tab">
              所有甜點({{dataAllProductLength}})
            </li>
            <li class="dessert-list list-group-item list-group-item-action nav-link " data-bs-toggle="pill"
              data-bs-target="#featured" role="presentation" id="pills-home-tab">
              本日精選({{dataFeaturedLength}})
            </li>
            <li class="dessert-list list-group-item list-group-item-action nav-link " data-bs-toggle="pill"
              data-bs-target="#recommend" role="presentation" id="pills-home-tab">
              人氣推薦({{dataRecommendLength}})
            </li>
            <li class="dessert-list list-group-item list-group-item-action nav-link " data-bs-toggle="pill"
              data-bs-target="#newArrival" role="presentation" id="pills-home-tab">
              新品上市({{dataNewArrivalLength}})
            </li>
            <li class="dessert-list list-group-item list-group-item-action nav-link " data-bs-toggle="pill"
              data-bs-target="#legend" role="presentation" id="pills-home-tab">
              絕版品({{legendLength}})
            </li>
          </ul>
        </div>


        <div class="col-md-8">


          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel">
              <div class="row">
                <div class="col-lg-6 mb-3"
                  *ngFor="let item of dataAllProduct | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let idx = 'index'">
                  <div class="card" id="post{{idx}}">
                    <img src="https://fakeimg.pl/200x200" class="card-img-top cardImg">
                    <span class="tag">所有甜點</span>
                    <i class="fa-regular fa-heart"></i>
                    <div class="card-body h5 row justify-content-center">
                      <span class="col text-center border-end">{{item[1]}}</span>
                      <span class="col text-center fw-bold">NTD{{item[2]}}</span>
                    </div>
                    <a class="btn btn-lg" id="{{item[0]}}">加入購物車</a>
                  </div>
                </div>

              </div>


              <div class="row my-3">
                <div class="col-12 d-flex justify-content-center">
                  <ngb-pagination class="pagination pagination-lg" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="dataAllProductLength"></ngb-pagination>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="featured" role="tabpanel">
              <div class="row">
                <div class="col-lg-6 mb-3"
                  *ngFor="let item of dataFeatured | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let idx = 'index'">
                  <div class="card" id="post{{idx}}">
                    <img src="https://fakeimg.pl/200x200" class="card-img-top cardImg">
                    <span class="tag">所有甜點</span>
                    <i class="fa-regular fa-heart"></i>
                    <div class="card-body h5 row justify-content-center">
                      <span class="col text-center border-end">{{item[1]}}</span>
                      <span class="col text-center fw-bold">NTD{{item[2]}}</span>
                    </div>
                    <a class="btn btn-lg" id="{{item[0]}}">加入購物車</a>
                  </div>
                </div>

              </div>


              <div class="row my-3">
                <div class="col-12 d-flex justify-content-center">
                  <ngb-pagination class="pagination pagination-lg" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="dataFeaturedLength"></ngb-pagination>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="recommend" role="tabpanel">
              <div class="row">
                <div class="col-lg-6 mb-3"
                  *ngFor="let item of dataRecommend | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let idx = 'index'">
                  <div class="card" id="post{{idx}}">
                    <img src="https://fakeimg.pl/200x200" class="card-img-top cardImg">
                    <span class="tag">所有甜點</span>
                    <i class="fa-regular fa-heart"></i>
                    <div class="card-body h5 row justify-content-center">
                      <span class="col text-center border-end">{{item[1]}}</span>
                      <span class="col text-center fw-bold">NTD{{item[2]}}</span>
                    </div>
                    <a class="btn btn-lg" id="{{item[0]}}">加入購物車</a>
                  </div>
                </div>

              </div>


              <div class="row my-3">
                <div class="col-12 d-flex justify-content-center">
                  <ngb-pagination class="pagination pagination-lg" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="dataRecommendLength"></ngb-pagination>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="newArrival" role="tabpanel">
              <div class="row">
                <div class="col-lg-6 mb-3"
                  *ngFor="let item of dataNewArrival | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let idx = 'index'">
                  <div class="card" id="post{{idx}}">
                    <img src="https://fakeimg.pl/200x200" class="card-img-top cardImg">
                    <span class="tag">所有甜點</span>
                    <i class="fa-regular fa-heart"></i>
                    <div class="card-body h5 row justify-content-center">
                      <span class="col text-center border-end">{{item[1]}}</span>
                      <span class="col text-center fw-bold">NTD{{item[2]}}</span>
                    </div>
                    <a class="btn btn-lg" id="{{item[0]}}">加入購物車</a>
                  </div>
                </div>

              </div>


              <div class="row my-3">
                <div class="col-12 d-flex justify-content-center">
                  <ngb-pagination class="pagination pagination-lg" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="dataNewArrivalLength"></ngb-pagination>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="legend" role="tabpanel">
              <div class="row">
                <div class="col-lg-6 mb-3"
                  *ngFor="let item of legend | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let idx = 'index'">
                  <div class="card" id="post{{idx}}">
                    <img src="https://fakeimg.pl/200x200" class="card-img-top cardImg">
                    <span class="tag">所有甜點</span>
                    <i class="fa-regular fa-heart"></i>
                    <div class="card-body h5 row justify-content-center">
                      <span class="col text-center border-end">{{item[1]}}</span>
                      <span class="col text-center fw-bold">NTD{{item[2]}}</span>
                    </div>
                    <a class="btn btn-lg" id="{{item[0]}}">加入購物車</a>
                  </div>
                </div>

              </div>


              <div class="row my-3">
                <div class="col-12 d-flex justify-content-center">
                  <ngb-pagination class="pagination pagination-lg" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="legendLength"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>








        </div>
      </div>
    </div>
  </section>
</main>
