<main>
  <div class="container mb-5">
    <div class="banner-dessert">
      <img src="../assets/img/lg-想吃甜點是不需要理由的.png">
    </div>
  </div>

  <section>
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="list-group text-center">
            <span class="dessert-list list-group-item list-group-item-action theme-1">甜點類別</span>
            <div>
              <span
              class="dessert-list list-group-item list-group-item-action nav-link active"
              data-bs-toggle="tab"
              [attr.data-bs-target]="'#target-all'"
              id="alltype"
              (click)="getAllData()"
              role="tab">
                所有種類
              </span>
            </div>

            <div *ngFor="let item of getAllType">
              <!-- [ngClass]="{active: item[fieldIndex.typeId] == 1}" -->
              <span
              class="dessert-list list-group-item list-group-item-action nav-link"
              data-bs-toggle="tab"
              [attr.data-bs-target]="'#target-' + item[fieldIndex.typeId]" id="{{item[fieldIndex.typeId]}}"
              (click)="getData($event)"
              role="tab">
                {{ item[fieldIndex.chinese] }}
              </span>
            </div>
          </div>
        </div>


        <div class="col-md-8">

          <div class="tab-content" id="pills-tabContent">
            <div class="row" *ngIf="data.length>0; else noData">
              <div class="p-0 m-2 col-5 card tab-pane fade show active"
                *ngFor="let item of data | slice: (pageAll-1) * pageSizeAll : (pageAll-1) * pageSizeAll + pageSizeAll"
                 role="tabpanel">
                <img src="data:image/jpg;base64,{{item[dataFieldIndex.img]}}" class="card-img-top cardImg">
                <span class="tag">{{item[6]}}</span>
                <i class="fa-regular fa-heart"></i>
                <div class="card-body h5 row justify-content-center">
                  <span class="col text-center border-end">{{item[dataFieldIndex.name]}}</span>
                  <span class="col text-center fw-bold">NTD{{item[dataFieldIndex.price]}}</span>
                </div>
                <a class="btn btn-lg" id="{{item[dataFieldIndex.productId]}}" (click)="add($event)">加入購物車</a>
              </div>


              <div class="row my-3">
                <div class="col-12 d-flex justify-content-center">
                  <ngb-pagination class="pagination pagination-lg" [(page)]="pageAll" [pageSize]="pageSizeAll"
                    [collectionSize]="data.length"></ngb-pagination>
                </div>
              </div>
            </div>

            <ng-template #noData>
              <!-- <h3>無資料</h3> -->
              <div class="d-flex justify-content-center">
                <div class="spinner-border text-success" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </ng-template>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
