<main>
  <div class="container">
    <div class="row justify-content-center  my-5 mx-2">
      <div class="col-md-10">
        <div class="row">
          <div class="me-4 col-md-12 col-lg-7 checkoutLeft p-0 d-flex flex-column justify-content-between">
            <div class="row justify-content-center p-4 ">
              <div class="col-6 align-self-center">
                <span class="h1 text-white">運送</span>
              </div>
              <div class="col-6 align-self-center">
                <div class="process-steps w-100">
                  <div class="step-circle"><fa-icon [icon]="faCheck" class="text-white"></fa-icon></div>
                  <div class="step-circle active"></div>
                  <div class="step-circle"></div>
                </div>
              </div>

            </div>

            <form class="row g-3 mx-2 mb-3" [formGroup]="form" (ngSubmit)="submit()">
              <div class="col-12 form-Group">
                <label for="cardnumber" class="form-label text-white">信用卡號</label>
                <input
                class="form-control checkoutInput"
                id="cardnumber"
                type="text"
                placeholder="1232-1231-1231-1231"
                [(ngModel)]="delivery.cardNumber"
                formControlName="cardNumber"
                minlength="16"
                oninput="if(value.length>=16)value=value.slice(0,16); value=value.replace(/[^\d]/g,'')"
                >
                <span *ngIf="form.controls['cardNumber'].touched && !form.controls['cardNumber'].valid" class="mx-1 text-white">
                  請輸入信用卡16位號碼
                </span>
                <!-- <span *ngIf="form.controls['cardNumber'].errors?.['minlength']" class="mx-1 text-white">
                  Minlength is 16
                </span> -->
              </div>
              <div class="col-6 col-md-6">
                <label for="lastname" class="form-label text-white">持卡人姓氏</label>
                <input
                type="text"
                class="form-control checkoutInput"
                id="lastname"
                placeholder="王"
                [(ngModel)]="delivery.lastName"
                formControlName="lastName"
                >
                <span *ngIf="form.controls['lastName'].touched && !form.controls['lastName'].valid" class="mx-1 text-white">
                  請輸入姓氏
                </span>
              </div>
              <div class="col-6 col-md-6">
                <label for="firstname" class="form-label text-white">名子</label>
                <input
                type="text"
                class="form-control checkoutInput"
                id="firstname"
                placeholder="小名"
                [(ngModel)]="delivery.firstName"
                formControlName="firstName"
                >
                <span *ngIf="form.controls['firstName'].touched && !form.controls['firstName'].valid" class="mx-1 text-white">
                  請輸入名子
                </span>
              </div>

              <div class="col-6 col-md-6">
                <label for="month" class="form-label text-white">到期月</label>
                <input
                type="number"
                class="form-control checkoutInput"
                id="month"
                placeholder="12"
                [(ngModel)]="delivery.month"
                formControlName="month"
                min="1"
                max="12"
                step="1"
                oninput="if(value>12)value=12;if(value.length>2)value=value.slice(0,2);if(value<1)value=1"
                >
                <span *ngIf="form.controls['month'].touched && !form.controls['month'].valid" class="mx-1 text-white">
                  請輸入月份
                </span>
              </div>
              <div class="col-6 col-md-6">
                <label for="year" class="form-label text-white">到期年</label>
                <input
                type="number"
                class="form-control checkoutInput"
                id="year"
                placeholder="2023"
                [(ngModel)]="delivery.year"
                formControlName="year"
                min="2023"
                max="2030"
                step="1"
                oninput="if(value>2030)value=2030;if(value.length>4)value=value.slice(0,4);"
                >
                <span *ngIf="form.controls['year'].touched && !form.controls['year'].valid" class="mx-1 text-white">
                  請輸入年份從2023年開始
                </span>
              </div>
              <div class="col-12">
                <label for="exp" class="form-label text-white">安全碼</label>
                <input
                type="text"
                class="form-control checkoutInput"
                id="exp"
                placeholder="123"
                [(ngModel)]="delivery.code"
                formControlName="code"
                min="0"
                max="999"
                step="1"
                minlength="3"
                oninput="if(value.length>3)value=value.slice(0,3); value=value.replace(/[^\d]/g,'') "
                >
                <span *ngIf="form.controls['code'].touched && !form.controls['code'].valid" class="mx-1 text-white">
                  請輸入安全碼3位數字
                </span>
                <!-- <span *ngIf="form.controls['code'].errors?.['minlength']" class="mx-1 text-white">
                  error
                </span> -->
              </div>
            </form>


            <button
            [disabled]="!form.valid"
            type="submit"
            class="py-3 btn btn-warning text-secondary w-100 rounded-0"
            (click)="submit()"
            >
            下一步
          </button>



          </div>
          <div class="col-md-12 col-lg-4  checkoutRight d-none d-lg-flex justify-content-center">
            <div class="row flex-column w-100 p-0">

              <div class="col d-flex flex-column">
                <div class=" text-center py-2 mb-2 checkoutRight-color">
                  <div class="h4 my-auto">訂單摘要</div>
                </div>
                <div class="d-flex justify-content-between lh-lg">
                  <span>小計</span>
                  <span>{{total | currency:'TWD':'symbol':'1.0'}}</span>
                </div>
                <div class="d-flex justify-content-between lh-lg">
                  <span>運費</span>
                  <span>{{fare | currency:'TWD':'symbol':'1.0'}}</span>
                </div>
                <div class="d-flex justify-content-between h5 lh-lg">
                  <span>總計</span>
                  <span>{{total+fare | currency:'TWD':'symbol':'1.0'}}</span>
                </div>
              </div>

              <div class="col">
                <div class="text-center py-2 mb-2 checkoutRight-color">
                  <div class="h4 my-auto">購物清單</div>
                </div>

                <div *ngFor="let item of cartItem">
                  <div class="py-1 mb-2 row align-items-center justify-content-between">
                    <div class="col-8 col-md-5 checkoutBkground"
                      style="background-image: url('data:image/jpg;base64,{{item.img}}')"></div>
                    <!-- http://fakeimg.pl/200x200/ -->
                    <!-- data:image/jpg;base64,{{item.img}} -->
                    <div class="col-4 col-md-6">
                      <div class="row flex-column flex-md-row ps-1 ps-md-0">
                        <div class="col">
                          <div class="row flex-column ">
                            <div class="col h5"><span>{{item.name}}</span></div>
                            <div class="col h5"><span>({{item.orderQuantity}})</span></div>
                            <div class="col"><span>{{item.price| currency:'TWD':'symbol':'1.0'}}</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
