<main>
  <div class="container mb-5">
      <div class="banner-success">
          <div class="process-steps process-steps-dark step-circle.completed processWidth">
              <div class="step-circle"><fa-icon [icon]="faCheck" class="text-white"></fa-icon></div>
              <div class="step-circle"><fa-icon [icon]="faCheck" class="text-white"></fa-icon></div>
              <div class="step-circle"><fa-icon [icon]="faCheck" class="text-white"></fa-icon></div>
          </div>
          <img src="../assets/img/lg-付款成功.svg">
          <a routerLink="/" class="btn btn-warning text-secondary rounded-0 p-3 checkoutBtn d-none d-md-block">繼續逛逛</a>

      </div>
  </div>



</main>
<a routerLink="/" class="img-fluid btn btn-warning text-secondary rounded-0 p-3 d-md-none w-100">繼續逛逛</a>
