<main>
  <div class="container">
    <div class="row justify-content-center  my-5 mx-2">
      <div class="col-md-10">
        <div class="row">
          <div class="me-4 col-md-12 col-lg-7 checkoutLeft-2 p-0 d-flex flex-column justify-content-between">
            <div class="row justify-content-center p-4 ">
              <div class="col-6 align-self-center">
                <span class="h1 text-white">發票</span>
              </div>
              <div class="col-6 align-self-center">
                <div class="process-steps step-circle.completed w-100">
                  <div class="step-circle"><fa-icon [icon]="faCheck" class="text-white"></fa-icon></div>
                  <div class="step-circle"><fa-icon [icon]="faCheck" class="text-white"></fa-icon></div>
                  <div class="step-circle active"></div>
                </div>
              </div>

            </div>
            <div class="row g-3 mx-2 px-2">
              <button
                class="rounded-0 col form-control checkoutInput d-flex align-items-center justify-content-center" [ngClass]="{'checkoutInput' : item, 'checkoutInput-2 ': !item}" (click)="tabClick()">電子發票</button>
              <button
                class="rounded-0 col form-control checkoutInput-2 d-flex align-items-center justify-content-center" [ngClass]="{'checkoutInput-2' : item, 'checkoutInput' : !item}" (click)="tabClick()">郵寄發票</button>
            </div>

            <form class="row g-3 mx-2"  [formGroup]="form" (ngSubmit)="submit()">
              <div class="col-12">
                <label for="phone" class="form-label text-white">電子郵件信箱</label>
                <input
                type="text"
                class="form-control checkoutInput"
                id="email"
                placeholder="example@email.com"
                [(ngModel)]="delivery.email"
                formControlName="email"
                >
                <span *ngIf="form.controls['email'].touched && !form.controls['email'].valid" class="text-white">
                  Email is required
                </span>
                <span *ngIf="form.controls['email'].errors?.['email']" class="mx-1 text-white">
                  Email address error
                </span>
              </div>
              <div class="col-12">
                <label for="address" class="form-label text-white">統一編號(選填)</label>
                <input
                type="text"
                class="form-control checkoutInput"
                id="companyNumber"
                placeholder="12345678"
                [(ngModel)]="delivery.companyNumber"
                formControlName="companyNumber"
                >
                <span *ngIf="form.controls['companyNumber'].touched && !form.controls['companyNumber'].valid" class="text-white">
                  Enter Error
                </span>
                <span *ngIf="form.controls['companyNumber'].errors?.['minlength']" class="mx-1 text-white">
                  minlength Error
                </span>
              </div>
            </form>

            <button
            [disabled]="!form.valid"
            type="submit"
            class="py-3 btn btn-warning text-secondary rounded-0"
            (click)="submit()"
            >
              結帳
            </button>



          </div>
          <div class="col-md-12 col-lg-4  checkoutRight d-none d-lg-flex justify-content-center">
            <div class="row flex-column w-100 p-0">

              <div class="col d-flex flex-column">
                <div class=" text-center py-2 mb-2 checkoutRight-color">
                  <div class="h4 my-auto">訂單摘要</div>
                </div>
                <div class="d-flex justify-content-between lh-lg">
                  <span>小計</span>
                  <span>{{total | currency:'TWD':'symbol':'1.0'}}</span>
                </div>
                <div class="d-flex justify-content-between lh-lg">
                  <span>運費</span>
                  <span>{{fare | currency:'TWD':'symbol':'1.0'}}</span>
                </div>
                <div class="d-flex justify-content-between h5 lh-lg">
                  <span>總計</span>
                  <span>{{total+fare | currency:'TWD':'symbol':'1.0'}}</span>
                </div>
              </div>

              <div class="col">
                <div class="text-center py-2 mb-2 checkoutRight-color">
                  <div class="h4 my-auto">購物清單</div>
                </div>
                <div *ngFor="let item of cartItem">
                  <div class="py-1 mb-2 row align-items-center justify-content-between">
                    <div class="col-8 col-md-5 checkoutBkground"
                      style="background-image: url('data:image/jpg;base64,{{item.img}}')"></div>
                    <!-- http://fakeimg.pl/200x200/ -->
                    <!-- data:image/jpg;base64,{{item.img}} -->
                    <div class="col-4 col-md-6">
                      <div class="row flex-column flex-md-row ps-1 ps-md-0">
                        <div class="col">
                          <div class="row flex-column ">
                            <div class="col h5"><span>{{item.name}}</span></div>
                            <div class="col h5"><span>({{item.orderQuantity}})</span></div>
                            <div class="col"><span>{{item.price| currency:'TWD':'symbol':'1.0'}}</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
