<main>
  <div class="container">
    <div class="banner">
      <!-- <img src="https://bit.ly/2OhbMHr" class="img-fluid"> -->
    </div>

    <!-- 導覽tab -->
    <div class="row justify-content-center tabMove">
      <div class="col-md-10">

        <div class="nav nav-tabs g-0 row" id="nav-tab" role="tablist">
          <a class="border-0 nav-link active col-4 p-0" id="nav-featured-tab" data-bs-toggle="tab"
            data-bs-target="#nav-featured" type="button" role="tab">
            <div class="tabcover">
              <span>本日精選</span>
            </div>
            <div class="featuredImg"></div>
          </a>
          <a class="border-0 nav-link col-4 p-0" id="nav-recommend-tab" data-bs-toggle="tab"
            data-bs-target="#nav-recommend" type="button" role="tab">
            <div class="tabcover">
              <span>人氣推薦</span>
            </div>
            <div class="recommendImg"></div>
          </a>
          <a class="border-0 nav-link col-4 p-0" id="nav-newArrival-tab" data-bs-toggle="tab"
            data-bs-target="#nav-newArrival" type="button" role="tab">
            <div class="tabcover">
              <span>新品上市</span>
            </div>
            <div class="newArrivalImg"></div>
          </a>
        </div>

      </div>
    </div>
  </div>

  <section>
    <div class="d-flex justify-content-center mb-4 d-md-none">
      <img src="../assets/img/2x/sm-橫式-為什麼選擇了做甜點@2x.png" class="img-fluid">
    </div>
    <div class="img-fluid section">
      <div class="container">
        <div class="row justify-content-center align-content-center section-1-flex">
          <div class="section-1-img col col-md-6 breakpoint-768"></div>
          <div class="col col-md-4 py-5 text-secondary text-vertical">
            <p class="mb-0 lh-lg">青山依舊在，幾度夕陽紅。慣看秋月春風。</p>
            <p class="mb-0 lh-lg">一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
            <p class="mb-0 lh-lg">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
          </div>
          <div class="col col-md-2 d-none d-md-block">
            <img src="../assets/img/lg-為什麼選擇了做甜點.png">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex justify-content-center mb-4 d-md-none">
      <img src="../assets/img/2x/sm-橫式-為什麼一定要吃甜點@2x.png" class="img-fluid">
    </div>
    <div class="img-fluid section">
      <div class="container">
        <div class="row justify-content-center align-content-center section-2-flex">
          <div class="col col-md-4 py-5 text-secondary text-vertical">
            <p class="mb-0 lh-lg">青山依舊在，幾度夕陽紅。慣看秋月春風。</p>
            <p class="mb-0 lh-lg">一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
            <p class="mb-0 lh-lg">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
          </div>
          <div class="col col-md-2 d-none d-md-block">
            <img src="../assets/img/lg-為什麼一定要吃甜點.png">
          </div>
          <div class="section-2-img col col-md-6 breakpoint-768"></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container d-flex justify-content-center">
      <img src="../assets/img/lg-想吃甜點是不需要理由的.png" class="img-fluid">
    </div>
  </section>


  <!-- <article class="" id="post{{idx}}" *ngFor="let item of data; let idx=index">

  </article> -->
  <section>

  </section>
  <!-- 導覽tab content -->
  <section>
    <div class="container">
      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-featured" role="tabpanel">
          <div class="row" >
            <div class="col-md-6 col-lg-4 my-1" *ngFor="let item of dataFeatured | slice: 0:3 ; let idx = 'index'">

              <div class="card" id="post{{idx}}" >
                <!-- <img src="{{item[4]}}" class="card-img-top cardImg"> -->
                <img src="data:image/jpg;base64,{{item[4]}}" class="card-img-top cardImg">
                <span class="tag">本日精選</span>
                <fa-icon [icon]="faHeart"></fa-icon>
                <div class="card-body">
                  <div class="card-title h5 row justify-content-center">
                    <span class="col text-center border-end">{{item[1]}}</span>
                    <span class="col text-center fw-bold">NTD{{item[2]}}</span>
                  </div>
                </div>
                <a class="btn btn-lg" id="{{item[0]}}" (click)="addcart($event)">加入購物車</a>
              </div>

            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-recommend" role="tabpanel">
          <div class="row">
            <div
            class="col-md-6 col-lg-4 my-1"
            *ngFor="let item of dataRecommend | slice: 0:3 ; let idx = 'index'"
            >
              <div class="card" id="post{{idx}}">
                <!-- <img src="{{item[4]}}" class="card-img-top cardImg"> -->
                <img src="data:image/jpg;base64,{{item[4]}}" class="card-img-top cardImg">
                <span class="tag">人氣推薦</span>
                <!-- <i class="fa-regular fa-heart"></i> -->
                <fa-icon [icon]="faHeart"></fa-icon>
                <div class="card-body">
                  <div class="card-title h5 row justify-content-center">
                    <span class="col text-center border-end">{{item[1]}}</span>
                    <span class="col text-center fw-bold">NTD{{item[2]}}</span>
                  </div>
                </div>
                <a class="btn btn-lg" id="{{item[0]}}" (click)="addcart($event)" >加入購物車</a>
              </div>

            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="nav-newArrival" role="tabpanel">
          <div class="row">

            <div
            class="col-md-6 col-lg-4 my-1"
            *ngFor="let item of dataNewArrival | slice: 0:3 ; let idx = 'index'"
            >
              <div class="card" id="post{{idx}}">
                <!-- <img src="{{item[4]}}" class="card-img-top cardImg"> -->
                <img src="data:image/jpg;base64,{{item[4]}}" class="card-img-top cardImg">
                <span class="tag">新品上市</span>
                <!-- <i class="fa-regular fa-heart"></i> -->
                <fa-icon [icon]="faHeart"></fa-icon>
                <div class="card-body">
                  <div class="card-title h5 row justify-content-center">
                    <span class="col text-center border-end">{{item[1]}}</span>
                    <span class="col text-center fw-bold">NTD{{item[2]}}</span>
                  </div>
                </div>
                <a class="btn btn-lg" id="{{item[0]}}" (click)="addcart($event)" >加入購物車</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>
