<main>
  <div class="container mb-5">
      <div class="banner-dessert">
          <img src="../assets/img/lg-想吃甜點是不需要理由的.png">
      </div>
  </div>

  <section>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="list-group text-center mb-3">
                      <a href="#" class="dessert-list list-group-item list-group-item-action theme-1">
                          甜點類別
                      </a>
                      <a href="#" class="dessert-list list-group-item list-group-item-action active">所有甜點(48)</a>
                      <a href="#" class="dessert-list list-group-item list-group-item-action">本日精選(10)</a>
                      <a href="#" class="dessert-list list-group-item list-group-item-action">人氣推薦(26)</a>
                      <a href="#" class="dessert-list list-group-item list-group-item-action">新品上市(12)</a>
                      <a href="#" class="dessert-list list-group-item list-group-item-action">絕版品</a>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="row">
                      <div class="col-lg-6 mb-3">
                          <div class="card">
                              <img src="../assets/img/13.jpg" class="card-img-top cardImg">
                              <span class="tag">本日精選</span>
                              <i class="fa-regular fa-heart"></i>
                              <div class="card-body h5 row justify-content-center">
                                      <span class="col text-center border-end">甜甜圈</span>
                                      <span class="col text-center fw-bold">NT$350</span>
                              </div>
                              <a href="#" class="btn btn-lg">加入購物車</a>
                          </div>
                      </div>
                      <div class="col-lg-6 mb-3">
                          <div class="card">
                              <img src="../assets/img/02.jpg" class="card-img-top cardImg">
                              <span class="tag">本日精選</span>
                              <i class="fa-regular fa-heart"></i>
                              <div class="card-body h5 row justify-content-center">
                                      <span class="col text-center border-end">草莓蛋糕</span>
                                      <span class="col text-center fw-bold">NT$450</span>
                              </div>
                              <a href="#" class="btn btn-lg">加入購物車</a>
                          </div>
                      </div>
                      <div class="col-lg-6 mb-3">
                          <div class="card">
                              <img src="../assets/img/15.jpg" class="card-img-top cardImg">
                              <span class="tag">本日精選</span>
                              <i class="fa-regular fa-heart"></i>
                              <div class="card-body">
                                  <div class="h5 row justify-content-center">
                                      <span class="col text-center border-end">藍莓乳酪</span>
                                      <span class="col text-center fw-bold">NT$250</span>
                                  </div>
                              </div>
                              <a href="#" class="btn btn-lg">加入購物車</a>
                          </div>
                      </div>
                  </div>
                  <div class="row my-3">
                      <div class="col-12 d-flex justify-content-center">
                          <nav aria-label="Page navigation example">
                              <ul class="pagination pagination-lg">
                                  <li class="page-item">
                                      <a class="page-link" href="#" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>
                                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                      <a class="page-link" href="#" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
