<main>
  <div class="container">
    <div class="row justify-content-center  my-5 mx-2">
      <div class="col-md-10">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <div class="row flex-column">
              <div class="col mb-2">
                <h2 class="h4 text-center text-secondary cartLeft p-3">你的購物車</h2>
              </div>
              <div class="col mb-2" *ngFor="let item of cartItem">
                <div class="row align-items-center justify-content-end">
                  <div class="col-7 col-md-3 cartBackground"
                  style="background-image: url('http://fakeimg.pl/200x200/')"
                  >
                  <!-- http://fakeimg.pl/200x200/ -->
                  <!-- data:image/jpg;base64,{{item.img}} -->
                  </div>
                  <div class="col-5 col-md-6">
                    <div class="row flex-column flex-md-row ps-1 ps-md-0">
                      <div class="col">
                        <div class="row flex-column ps-3">
                          <div class="col"><span>{{item.name}}</span></div>
                          <div class="col"><span>{{item.price| currency:'TWD':'symbol':'1.0'}}</span></div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="input-group px-2">
                          <button
                          class="btn btn-outline-secondary btn-sm"
                          type="button"
                          value="{{item.orderQuantity}}"
                          id="btnReduce-{{item.productId}}"
                          (click)="reduce($event)"
                          >-</button>

                          <input
                          style="min-width: 50px;"
                          type="text"
                          class="form-control text-center"
                          value="{{item.orderQuantity}}"
                          id="btnChange-{{item.productId}}"
                          (change)="itemCountChange($event)">

                          <button
                          class="btn btn-outline-secondary btn-sm"
                          type="button"
                          value="{{item.orderQuantity}}"
                          id="btnAdd-{{item.productId}}"
                          (click)="add($event)"
                          >+</button>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-3 px-1 fw-bold cartItemHeight align-self-end">
                    <div class="row justify-content-between">
                      <div class="col-8 px-1 text-center align-self-center">
                        {{item.price * item.orderQuantity | currency:'TWD':'symbol':'1.0'}}
                      </div>
                      <div class="col-4 px-1">
                        <button
                        class="btn"
                        id="{{item.productId}}"
                        (click)="deleteItem($event)"
                        >
                          <fa-icon [icon]="faTrash" class="drop"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-1 px-1 cartItemHeight"> -->
                    <!-- (delete)="doDelete($event)" -->
                    <!-- <i class="fa-solid fa-trash"></i> -->

                  <!-- </div> -->
                </div>
              </div>

            </div>


          </div>
          <div class="cartRigh-order p-0 col-sm-12 col-md-4 cartRight d-flex flex-column justify-content-between">
            <div class="text-white text-center px-4 pt-4">
              <div class="h4">訂單摘要</div>
              <hr class="text-white opacity-100 d-none d-md-block">
            </div>
            <div class="px-4 text-white d-flex justify-content-between">
              <span>小計</span>
              <span>{{total | currency:'TWD':'symbol':'1.0'}}</span>
            </div>
            <div class="px-4 text-white d-flex justify-content-between">
              <span>運費</span>
              <span>{{fare | currency:'TWD':'symbol':'1.0'}}</span>
            </div>
            <div class="px-4 text-white d-flex justify-content-between h5">
              <span>總計</span>
              <span>{{total+fare | currency:'TWD':'symbol':'1.0'}}</span>
            </div>
            <a
            type="submit"
            class="py-3 btn btn-warning text-secondary w-100 rounded-0"
            (click)="checkout()">結帳</a>


          </div>
        </div>
      </div>
    </div>
  </div>
</main>
