<main>
  <div class="container">
    <div class="row justify-content-center  my-5 mx-2">
      <div class="col-md-10">
        <div class="row">
          <div class="me-4 col-md-12 col-lg-7 checkoutLeft p-0 d-flex flex-column justify-content-between">
            <div class="row justify-content-center p-4 ">
              <div class="col-6 align-self-center">
                <span class="h1 text-white">運送</span>
              </div>
              <div class="col-6 align-self-center">
                <div class="process-steps w-100">
                  <div class="step-circle active"></div>
                  <div class="step-circle"></div>
                  <div class="step-circle"></div>
                </div>
              </div>

            </div>

            <form class="row g-3 mx-2 mb-3">
              <div class="col-6 col-md-6">
                <label for="lastname" class="form-label text-white">姓氏</label>
                <input type="text" class="form-control checkoutInput" id="lastname" placeholder="王">
              </div>
              <div class="col-6 col-md-6">
                <label for="firstname" class="form-label text-white">名字</label>
                <input type="text" class="form-control checkoutInput" id="firstname" placeholder="小名">
              </div>
              <div class="col-12">
                <label for="phone" class="form-label text-white">電話</label>
                <input type="text" class="form-control checkoutInput" id="phone" placeholder="0912345678">
              </div>
              <div class="col-6 col-md-6">
                <label for="inputCity" class="form-label text-white">縣市</label>
                <input type="text" class="form-control checkoutInput" id="inputCity" placeholder="高雄市">
              </div>
              <div class="col-6 col-md-6">
                <label for="inputState" class="form-label text-white">區域</label>
                <select id="inputState" class="form-select checkoutInput">
                  <option selected>新興區</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col-12">
                <label for="address" class="form-label text-white">地址</label>
                <input type="text" class="form-control checkoutInput" id="address" placeholder="請輸入地址">
              </div>
            </form>


              <a routerLink="/checkout1" type="submit" class="py-3 btn btn-warning text-secondary w-100 rounded-0">下一步</a>



          </div>
          <div class="col-md-12 col-lg-4  checkoutRight d-none d-lg-flex justify-content-center">
            <div class="row flex-column w-100 p-0">

              <div class="col d-flex flex-column">
                <div class=" text-center py-2 mb-2 checkoutRight-color">
                  <div class="h4 my-auto">訂單摘要</div>
                </div>
                <div class="d-flex justify-content-between lh-lg">
                  <span>小計</span>
                  <span>{{total | currency:'TWD':'symbol':'1.0'}}</span>
                </div>
                <div class="d-flex justify-content-between lh-lg">
                  <span>運費</span>
                  <span>{{fare | currency:'TWD':'symbol':'1.0'}}</span>
                </div>
                <div class="d-flex justify-content-between h5 lh-lg">
                  <span>總計</span>
                  <span>{{total+fare | currency:'TWD':'symbol':'1.0'}}</span>
                </div>
              </div>

              <div class="col">
                <div class="text-center py-2 mb-2 checkoutRight-color">
                  <div class="h4 my-auto">購物清單</div>
                </div>

                <div *ngFor="let item of cartItem">
                  <div class="py-1 mb-2 row align-items-center justify-content-between">
                    <div class="col-8 col-md-5 checkoutBkground" style="background-image: url('http://fakeimg.pl/100x100/')"></div>
                    <!-- http://fakeimg.pl/200x200/ -->
                    <!-- data:image/jpg;base64,{{item.img}} -->
                    <div class="col-4 col-md-6">
                      <div class="row flex-column flex-md-row ps-1 ps-md-0">
                        <div class="col">
                          <div class="row flex-column ">
                            <div class="col h5"><span>{{item.name}}</span></div>
                            <div class="col h5"><span>({{item.orderQuantity}})</span></div>
                            <div class="col"><span>{{item.price| currency:'TWD':'symbol':'1.0'}}</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</main>
